/* === ESTILOS PARA EL FORMULARIO DE PERSONA === */
.root {
    -fx-font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    -fx-background-color: #f0f4f8;
}
.encabezado-persona {
    -fx-background-color: #3a506b;
    -fx-padding: 14px 20px 14px 20px;
    -fx-background-radius: 8px 8px 0 0;
}

/* Título */
#lblTitulo {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}
#btnGuardar {
    -fx-background-color: #26a103;
    -fx-text-fill: #fff;
}
#btnGuardar:hover {
    -fx-background-color: #5bd33a;
    -fx-text-fill: #000000;
}
#btnCancelar {
    -fx-background-color: #ef476f;
    -fx-text-fill: #fff;
}
#btnCancelar:hover {
    -fx-background-color: #d90429;
    -fx-text-fill: #000000;
}

/* TextField */
.text-field:empty, .text-field.error {
    -fx-border-color: #d90429;
    -fx-border-width: 2px;
}
.text-field {
    -fx-background-color: #fff;
    -fx-border-color: #b8c1ec;
    -fx-border-radius: 5px;
    -fx-padding: 6px 10px;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}

.campo-obligatorio {
    -fx-text-fill: #d90429;
    -fx-font-weight: bold;
}
/* Mensaje de error */
#lblError {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}
/* Botones */
.button{
    -fx-background-radius: 6px;
    -fx-padding: 8px 18px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}